* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.content {
    width: 480px;
    height: 660px;
    padding: 10px 0;
    border: 1px solid #EDE8E7;
    border-collapse: collapse;
    border-radius: 5px;
}

table {
    width: 100%;
}

table, 
tr,
th,
td {
    border: none;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

th, 
td {
    text-align: right;
    padding: 10px 20px;
    border-bottom: #EDE8E7 1px solid;
}

th,
td:first-child {
    font-weight: bold;
}

td:first-child {
    text-align: left;
    padding-left: 50px;
}

td:last-child {
    color: #EDE8E7;
    padding-left: 0;
    padding-right: 50px;    
    max-width: 20px;
}

.summary {
    margin: 20px;
    text-align: center;
    font-weight: bold;
}

.nutrient-wrapper {    
    width: 74px; 
    height: 104px; 
    color: #94D25D;
    border: 1px #8ACC4E solid;    
    border-top-left-radius: 40px 15px;  
    border-top-right-radius: 40px 15px; 
    border-bottom-right-radius: 40px 15px; 
    border-bottom-left-radius: 40px 15px;
    text-align: center;
}

.nutrient-content {
    height: 98px;
    background: #ECFFDB; 
    border: 3px #FFFFFF solid; 
    border-top-left-radius: 40px 15px;  
    border-top-right-radius: 40px 15px; 
    border-bottom-right-radius: 40px 15px; 
    border-bottom-left-radius: 40px 15px;
}

.title {
    margin: 15px auto;
    font-weight: bold;
}