<!DOCTYPE html>
<html ng-app="widgetApp">
<head>
    <meta charset="utf-8">
    <title>Syndy widget content</title>
    <link href="styles/widget-style.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="content" ng-controller="WidgetController as widgetController">
        <table class="nutrient-tbl">
            <thead>
                <tr>
                    <th class="nutrient-tbl__th"></th>
                    <th class="nutrient-tbl__th">per 100 g</th> 
                    <th class="nutrient-tbl__th">per portie (%*)</th>
                    <th class="nutrient-tbl__th"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="nutrition in widgetController.nutritions track by $index">
                    <td class="nutrient-tbl__td_first">{{ ::nutrition.name }}</td>
                    <td class="nutrient-tbl__td">{{ ::nutrition.share.perHundredGram }}</td> 
                    <td class="nutrient-tbl__td">{{ ::nutrition.share.perPortion }}</td>
                    <td class="nutrient-tbl__td_last">{{ ::nutrition.share.perThertyGramLabel }}</td>
                </tr>
            </tbody>
        </table>

        <div class="summary">per portie (30 g)</div>
        
        <div class="nutrients">
            <div class="nutrient-tile" 
                ng-repeat="nutrition in widgetController.nutritionsSummary track by $index">
                <div class="nutrient-tile__content">
                    <div class="nutrient-tile__content__title">{{ ::nutrition.name }}</div>
                    <div class="nutrient-tile__content__ammount">
                        <div ng-repeat="share in nutrition.share.perPortion track by $index">{{ ::share }}</div>
                    </div>
                    <div class="nutrient-tile__content__percent">{{ ::nutrition.share.perThertyGram }}</div>
                </div>
            </div>
        </div>

        <div class="footnote">* percentage op basis van Referentie inname van een gemiddeide volwassene 8400 Kj/2000 kCal</div>

        <div class="copyright">Powered by <span class="brand">syndy</span></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/data.service.js"></script>
    <script src="app/nutrition.factory.js"></script>
    <script src="app/widget.controller.js"></script>
</body>
</html>
