* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.content {
    width: 630px;
    border: 1px solid #EDE8E7;
    border-collapse: collapse;
    border-radius: 5px;
    color: #191919;
}

table {
    width: 100%;
}

table, 
tr,
th,
td {
    border: none;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

th, 
td {
    text-align: right;
    border-bottom: #EDE8E7 1px solid;
}

th {
    padding: 25px 20px 10px 20px;
}

td {
    padding: 17px 20px;
}

th,
td:first-child {
    font-weight: bold;
}

td:first-child {
    text-align: left;
    padding-left: 50px;
}

td:last-child {
    color: #EDE8E7;
    padding-left: 0;
    text-align: left;
}

.summary {
    margin: 20px 0 15px 0;
    text-align: center;
    font-weight: bold;
}

.nutrients {
    margin: 20px;
    text-align: center;
    font-size: 0;
}

.nutrient-wrapper {  
    display: inline-block;  
    width: 74px; 
    height: 104px;
    margin: -1px 0 0 -1px;    
    border: 1px #8ACC4E solid;    
    color: #94D25D;
    text-align: center;
}

.nutrient-content {
    height: 98px;
    font-size: 13px;     
    border: 3px #FFFFFF solid; 
    background: #ECFFDB;
}

.nutrient-wrapper,
.nutrient-content {
    border-radius: 50px/25px;
}

.title {
    margin: 10px auto;
    font-weight: bold;
}

.ammount {
    height: 30px;    
}

.percent {
    display: inline-block;
    margin-top: 6px;
    width: 40px;
    height: 20px;
    padding-top: 7px;    
    border-radius: 20px 20px 5px 5px;  
    background-color: #FFFFFF;
    color: #191919;
    text-align: center;
}

.footnote {
    margin: 20px;
    padding: 20px 10px 0 10px;
    border-top: #191919 1px solid;
    color: #A4A4A4;
}

.copyright {
    margin: 20px;
    padding: 0 10px;
    text-align: right;
}

.brand {
    font-weight: bold;
}